.chessPage {
  display: flex;
  flex-direction: column;
  gap: 88px;
  margin: 30px 152px 154px 48px;
}

.text {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.yes {
  margin-right: 6px;
}

.black {
  color: #000000;
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
}

.chessP {
  color: #95939a;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}

.back {
  width: 93px;
  height: 53px;
  border-radius: 8px;
  border: 1px solid #212529;
  background-color: #ffffff;
  color: #212529;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
.done {
  width: 99px;
  height: 53px;
  border-radius: 8px;
  background-color: #212529;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

.mySelect::placeholder {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.customPlaceHolder {
  color: #dc3545;
}
.selectsFlex {
  display: flex;
  gap: 10px;
}

.optionsStyle {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.optionsStyle:hover {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
