.imgComponentContainer {
  max-width: 926px;
  width: 100%;
}
.imgComponentHeader {
  background-color: #7025fb;
  color: white;
}
.imgComponentImgContainer {
  position: relative;
  width: 100%;
  max-width: 923px;
  z-index: -999;
}
.imgComponentImg {
  position: absolute;
  width: 100%;
  right: -2px;
  object-fit: cover;
}
.imgComponentHeader {
  padding: 30px 30px 30px 60px;
}

.imgComponentText {
  z-index: 999;
  margin: 177px 191px 671px 117px;
  width: 423px;
}
.imgComponentText {
  margin-top: 177px;
}
.imgComponentTextInner {
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;

  color: #212529;
}
.imgComponentSmallText {
  text-align: right;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  text-transform: uppercase;
  margin-top: 32px;
  color: #093f68;
}
